@import '../../css/__colors.css';

.details {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  width: 100%;
  background: var(--background-secondary);
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px 0px;
}
