@import '../../css/__colors.css';

.results {
  position: absolute;
  width: 91%;
  background-color: var(--background-secondary);
  border: 1px solid var(--border-input);
  border-radius: 2px;
  margin-top: 2px;
}

.result {
  list-style-type: none;
  padding: 0.5rem 0.8rem;
}

.active {
  background-color: var(--background-input-active);
}

.link {
  text-decoration: none;
  color: var(--text-primary);
  cursor: default;
}
