:root {
  --background-primary: rgb(249, 249, 249);
  --background-secondary: rgb(255, 255, 255);
  --background-input-active: rgb(180, 220, 240);
  --map-marker: rgb(240, 50, 20);
  --border-input: rgb(100, 100, 100);
  --text-primary: rgb(0, 20, 82);
}
