@import '../../css/__colors.css';

.search {
  position: relative;
  max-width: 480px;
  width: 100%;
  background: var(--background-search);
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px 0px;
}

.header {
  padding-bottom: 1rem;
  padding-left: 0.5rem;
}
